<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preload" href="../../css/main.css" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="../../css/bloglist.css" as="style" onload="this.rel='stylesheet'">
    <link rel="stylesheet" href="../../css/main.css"> 
    <link rel="preload" href="../../css/prism.css">
<style>
/* Override Asciidoctor CSS to get the correct background */
.listingblock pre[class^="highlight "] {
    background: #e4e2e2;
}
</style>
</head>
<body class="sans">
{{> _page_header baseuri='../../'}}
<main>
    <div class="aw-block--blog">


        <aw-article>
            {{#modedev}}
                <h2>DEV</h2>
            {{/modedev}}
            <article>
                <h1 class="aw-blog--info-title">{{ title }}</h1>
                <div class="aw-blog--info-date">
                    <small><b>{{ revdate }}</b></small>
                    <small id="nbview"></small>
                </div>
                <div id="blog-keywords" class="blog-keywords">
                    {{#keywords}}
                        <span class="aw-blog--keyword-detail"><small>{{.}}</small></span>&nbsp;
                    {{/keywords}}
                </div>
                <div class="aw-blog--content">
                    {{{ contents }}}
                </div>
            </article>

            <div class="btn-group">
                <div class="btn-group--element">
                    <button onclick="blog.sendSocial('twitter', 'https://asciiwriter.github.io/articles/{{dir}}/{{filename}}.html', '{{ title }}')"
                            class="btn-inverse">
                        <img src="../../img/contact/twitter.svg" alt="Twitter" class="aw-social"></button>

                </div>
            </div>

            <br>
            <div id="previous-blogpost">
                <div class="aw-blog--previous">
                    {{#previous}}
                        Previous article : <a
                            href="../{{dir}}/{{filename}}.html">{{doctitle}}</a><br>
                    {{/previous}}
                    {{#next}}
                        Next article : <a href="../{{dir}}/{{filename}}.html">{{doctitle}}</a>
                    {{/next}}

                    <small>Kommentera gärna via Twitter. </small>
                </div>
            </div>
        </aw-article>
    </div>
    {{> _page_footer baseuri='../../'}}
</main>
{{> _html_footer baseuri='../../'}}

</body>
</html>
