    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="{{#keywords}}{{keywords}}{{/keywords}}">
    <meta name="description" content="{{ description }}">

    {{> _html_header_url}}

    <link rel="stylesheet" href="../../css/main.css"> 
    <link rel="preload" href="../../css/prism.css">

    <title>{{ title }}</title>

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ description }}">
    
    <link rel="icon" href="{{ baseuri }}favicon.ico" type="image/x-icon">
    <link rel="preload" href="../../js/prism.js" as="script">
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Web Application Manifest -->
    <link rel="manifest" href="{{ baseuri }}manifest.json">
    <!-- for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="asciiwriter"><!-- you might want to change this -->
    <link rel="icon" sizes="192x192" href="{{ baseuri }}img/touch/logo-chrome-touch.png">
    <!--  for Safari on iOS -->
    <meta name="apple-mobile-web-app-title" content="asciiwriter"><!-- you might want to change this -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="{{ baseuri }}img/touch/logo-apple-touch.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{{baseuri}}img/touch/logo-ms-touch.png">
    <meta name="msapplication-TileColor" content="#303e5e">
    <meta name="theme-color" content="#303e5e">

