<!DOCTYPE html>
<html lang="en">
<head>


    {{> _html_header}}

</head>
<body>
    {{> _page_header}}
    <main>
        <div id="wrapper">
        <div id="main">
				<div class="inner">


        {{{ contents }}}

  </div>


<section class=".bg-gray-light">

  <div class="d-flex flex-wrap flex-justify-around flex-content-around">

                {{#latestArticles}}
                    <div class="p-5 mt-3 border bg-gray-light"><article class="aw-blog--article" href='articles/{{dir}}/{{filename}}.html'">
                        <h2><a href="articles/{{dir}}/{{filename}}.html">{{doctitle}}</a></h2>
                        <div class="aw-blog--imgteaser"><img class="aw-img--load" data-src="{{{imgteaser}}}" alt="{{doctitle}}"/></div>
                        <p class="aw-blog--teaser">{{teaser}}</p>
                    </article></div>
                {{/latestArticles}}
  </div>
</section>


        
    </div>
     </div> 
                <div class="paginate-container">
                    <span class="paginate-container paginate ">
                    {{#previous}}
                        Previous article : <a
                            href="../{{dir}}/{{filename}}.html">{{doctitle}}</a><br>
                    {{/previous}}
                    </span>
                </div>
                <div class="paginate-container">
                    <span class="paginate-container paginate">
                    {{#next}}
                        Next article : <a href="../{{dir}}/{{filename}}.html">{{doctitle}}</a>
                    {{/next}}
                    </span>
                </div>
    <hr>
    {{> _page_footer}}
    {{> _html_footer}}
</main>

</body>
</html>
