<!DOCTYPE html>
<html lang="en">
<head>


    {{> _html_header}}

</head>
<body>
    {{> _page_header}}
    <main>
        <div id="wrapper">
        <div id="main">
				<div class="inner">


        {{{ contents }}}




  </div>

<section>

  <div class="d-flex flex-wrap flex-justify-around flex-content-around">

                {{#latestArticles}}
                    <div class="p-5 mt-3 border bg-gray-light"><article class="aw-blog--article" href='articles/{{dir}}/{{filename}}.html'">
                        <h2><a href="articles/{{dir}}/{{filename}}.html">{{doctitle}}</a></h2>
                        <div class="aw-blog--imgteaser"><img class="aw-img--load" data-src="{{{imgteaser}}}" alt="{{doctitle}}"/></div>
                        <p class="aw-blog--teaser">{{teaser}}</p>
                    </article></div>
                {{/latestArticles}}
  </div>
</section>



            <div class="btn-group" style="padding: 1em">
                <div class="btn-group--element">
                    <a class="btn-inverse" href="{{ baseuri }}rss/articles.xml">RSS Feed</a>
                </div>
            </div>
            <div class="center">
                <a href="{{ baseuri }}articles.html" class="btn">Latest articles</a>
            </div>
        </aw-section>
    </div>
     </div> 
                <div class="paginate-container">
                    <span class="paginate-container paginate">
                    {{#previous}}
                        Previous article : <a
                            href="../{{dir}}/{{filename}}.html">{{doctitle}}</a><br>
                    {{/previous}}
                    </span>
                    <span class="paginate-container paginate">
                    {{#next}}
                        Next article : <a href="../{{dir}}/{{filename}}.html">{{doctitle}}</a>
                    {{/next}}
                    </span>
                </div>
    {{> _page_footer}}
    {{> _html_footer}}
</main>

</body>
</html>
