<!DOCTYPE html>
<html lang="en">
<head>


    {{> _html_header}}

</head>
<body class="sans">
    {{> _page_header}}
    <main>
        AsciiWriter static site generator
        {{{ contents }}}
        <div class="aw-block--articles">
                <aw-section>
            <div class="aw-blog--container-article">
                {{#firstArticle}}
                    <article class="aw-blog--article-head"
                             onclick="document.location.href='articles/{{dir}}/{{filename}}.html'">
                        <h1><a href="articles/{{dir}}/{{filename}}.html">{{doctitle}}</a></h1>
                        <div class="aw-blog--imgteaser"><img class="aw-img--lazyload" data-src="{{{imgteaser}}}" alt="{{doctitle}}"/></div>
                        <p class="aw-blog--teaser">{{teaser}}</p>
                    </article>
                {{/firstArticle}}
                {{#otherArticles}}
                    <article class="aw-blog--article" onclick="document.location.href='articles/{{dir}}/{{filename}}.html'">
                        <h2><a href="articles/{{dir}}/{{filename}}.html">{{doctitle}}</a></h2>
                        <div class="aw-blog--imgteaser"><img class="aw-img--lazyload" data-src="{{{imgteaser}}}" alt="{{doctitle}}"/></div>
                        <p class="aw-blog--teaser">{{teaser}}</p>
                    </article>
                {{/otherArticles}}
            </div>
            <div class="aw-blog--container-article" id="aw_ext">
            </div>
            <div class="btn-group" style="padding: 1em">
                <div class="btn-group--element">
                    <a class="btn-inverse" href="../../rss/articles.xml">RSS Feed</a>
                </div>
            </div>
            <div class="center">
                <a href="{{ baseuri }}archived_articles.html" class="btn">Archived articles</a>
            </div>
        </aw-section>
    </div>
    {{> _page_footer}}
    {{> _html_footer}}
</main>

</body>
</html>
